div.wave {
    width: calc(100% + 10px);
    padding: 0;
    overflow: hidden;
}

.wave svg {
    position: relative;
    width: 100%;
    bottom: 0;
    left: -5px;
}

.container {
    background: #1B1D57;
    position: relative;
    top: -20px;
    z-index: 2;
    
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    gap: 30px;
    padding-bottom: 100px;
}

.profile {
    grid-column-start: 2;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    color: var(--blue);
    aspect-ratio: 1;
}

.greeting {
    margin: 0;
    grid-column-start: 3;
    text-align: left;
}

@media screen and (max-width: 899px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .greeting {
        max-width: 300px;
    }
}